# .gitignore

# Archivos y directorios generados por Python
_pycache_/
*.pyc
*.pyo
*.pyd
*.pyc

# Archivos y directorios generados por entornos virtuales
venv/
*.venv
env/
ENV/

# Archivos y directorios generados por herramientas de desarrollo
*.swp
*.swo
*.swn
*.pyre/
*.ropeproject
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.coverage
htmlcov/
.pytest_cache/
.tox/
.cache/
.pybuilder/
.coverage.*
.vscode/

# Archivos de configuración del entorno
.env

# Environments
.env
.venv
.mvenv
.menv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

smart_contracts/
.DS_Store
repomix-output.txt
model.pth
weights/